<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default-dark.css">
  </head>

  <body>
    <style>
      body, html
      {background-color:#212121;
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
      }
      @-webkit-keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes BackgroundGradient { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
      .slide
      {
        width: 640px;
        max-width: 640px;
        min-height:480px;
        height:auto;
        overflow: visible;
        color:white;
  background: linear-gradient(270deg,#f44336, #2196f3,#009688);
background-size: 600% 600%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
      }
      .slide-actions{
        position: fixed;
        bottom:0;
        right:0;
        width:100%;
        height:auto;
        font-size:4vw;
      }
      .slide-content
      {
        overflow: visible;
        margin-bottom:20px;
        color:white;
      }
      #app
{
  margin:0; 
  padding:0; 
          -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
}
.year
{
  opacity:.5;
  font-size:10px;
}
.toolbar
{
  position: sticky;
  background:transparent;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.media
{
  height:120px;
  overflow:hidden;
}
.md-title
{
  color:white;
}
.x
{
  position:absolute;
  top:0;
  left:0;
}
    </style>
    <div id="app">
      
    <img class="x" src="Logo.png" />
    <md-card class="slide md-elevation-24">
      <md-card-media v-if='media != ""' class="media">
        <img :src="media" ></img>
      </md-card-media>
      <md-toolbar class="toolbar" v-if='slideToolbarText != ""'  md-elevation="0">
      <h3 class="md-title">{{slideToolbarText}}</h3>
    </md-toolbar>
<md-card-header><div class="md-title" v-html="slideTitle"></div></md-card-header>
      <md-card-content v-html="slideContent" class="slide-content">
      </md-card-content>
      <md-card-actions class="slide-actions md-elevation-24">
        <md-button v-on:click="prev" class="md-primary" v-bind:disabled="firstSlide" >Prev</md-button>
        <md-button v-on:click="next" class="md-primary" v-bind:disabled="lastSlide" >Next</md-button>
      </md-card-actions>
      
    </md-card>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
      Vue.use(VueMaterial.default);

      var app = new Vue({
        el: '#app',
        data: {
          firstSlide: true,
          lastSlide: false,
          slideToolbarText: "",
          slideTitle: "",
          slideContent: "",
          media: "",
          slides: [
            {toolbarText: "", title: "Auto-mobile AI for responsible and effiecent self-driving cars.", content: "", media: ""},
            {toolbarText: "About France", title: "Key Landforms and Climate", content: "Most of france contains mountains, hills, and rivers.<br>It has hot, dry summers and mild winters.", media: "flag.png"},
            {toolbarText: "About France", title: "Location", content: "France is in western europe.", media: "flag.png"},
            {toolbarText: "Social Characteristics", title: "Languages Spoken", content: "The majority of france speaks french. However, there are people who speak other languages", media: ""},
            {toolbarText: "Social Characterisitics", title: "Major Religions", content: "According to the 2007 CIA world factbook, 83-88% of people in france are catholic.", media: ""},
            {toolbarText: "Social Characteristics", title: "French customs are almost the same as the U.S, including holidays such as Christmas and Easter, they celebrate Victory in Europe day on May 8th to commerate the end of war in europe after WW2.", media: ""},
            {toolbarText: "Government", title: "France uses a modified version of republicanism as it's government. It consists of a prime minister, and junior/senior ministers.", content: "", media: "gov.jpg"},
            {toolbarText: "Government", title: "The prime minister is the head of the government.<br>Senior Ministers are titled as Ministers, while junior ministers are titled as Secretaries of State.<br>The current prime minister is Edouard Philippe.", content: "", media: "gov.jpg"},
            {toolbarText: "Economy", title: "France has the 7th largest economy as of 2017.", content: "The country also has the 2nd largest economy in Europe.<br>It uses the euro (€) as it's primary currency.", media: "dollar.jpg"},
            {toolbarText: "Economy", title: "The chemical industry is a vital part of French economy.", content: "The tourisim industry is also a major component their economy.", media: "dollar.jpg"},
            {toolbarText: "Economy", title: "French Natural Resources include but is not limited to: ", content: "Coal, Iron, Zinc, and Uranium.", media: "dollar.jpg"},
            {toolbarText: "Why france?", title: "Benefits", content: "Car-fi will benefit in moving to france in a multitide of ways. France is a largely urban country that allows for new technologies to grow and develop.<br> They have recently begun creating laws that allow autonomous cars to be publicly tested on roads in early 2019.", media: "chip.jpg"},
            {toolbarText: "Conclusion", title: "Car-fi, a company developing advanced software for autonomous vehicles, should publicily test their software on cars in france, early 2019.", media: ""},
            {toolbarText: "Thanks for listening!", title: "Programmed and Presented by Jordon Gulley.", content: "<a href='http://gullejor000.gitlab.io/clapclapclap/' style='color:white;'>CLAP CLAP CLAP!</a>", media: "tankyou.gif"}
          
          //{toolbarText: "", title: "", content: "", media: ""}
                  ],
          currentSlide: -1,
        },
        methods:
        {
          prev: function()
          {
              this.currentSlide--;
              this.slideToolbarText = this.slides[this.currentSlide].toolbarText;
              this.slideTitle = this.slides[this.currentSlide].title;
              this.slideContent = this.slides[this.currentSlide].content;
              this.media = this.slides[this.currentSlide].media;
              if(this.currentSlide == 0)
              {
                this.firstSlide = true;
                this.lastSlide = false;
              }
              else
              {
              this.firstSlide = false;
                this.lastSlide = false;
              }
          },
          next: function()
          {
            if(this.currentSlide+1 < this.slides.length)
            {
              this.currentSlide++;
              this.slideToolbarText = this.slides[this.currentSlide].toolbarText;
              this.slideTitle = this.slides[this.currentSlide].title;
              this.slideContent = this.slides[this.currentSlide].content;
              this.media = this.slides[this.currentSlide].media;
              if(this.currentSlide+1 >= this.slides.length)
              {
                this.lastSlide = true;
              this.firstSlide = false;
              }
              else
              {
              this.lastSlide = false;
                this.firstSlide = false;
              }
            }
          }
        },
        mounted: function()
        {
          this.next();
        }
      });
    </script>
  </body>
</html>